swagger: "2.0"
info:
  description: |
    Esta es la documentación con la que podrán interactuar con Contpaqi para generar diferentes tipos de documentos..
  version: "1.0.0"
  title: API REST Beeusoft Contpaqi
  termsOfService: http://beeusoft.mx/terms/
  contact:
    name: api@beeusoft.mx
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
host: beeusoft.mx
basePath: /v1
schemes:
  - http
paths:
  /invoices:
    post:
      tags:
        - invoice
      summary: Crea una nueva factura y es mandada a timbrar a Adminpaq
      description: "Recibe todos los datos necesarios para generar una factura y estos son enviados a Adminpaq para generarla y timbrarla."
      operationId: newInvoice
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Objeto con información de la factura.
          required: true
          schema:
            $ref: "#/definitions/Invoice"
      responses:
        "200":
          description: Opreación realizada correctamente
          schema:
            $ref: "#/definitions/Invoice"
        "202":
          description: Opreación recibida correctamente pero con inconvenientes para procesarce correctamente
          schema:
            $ref: "#/definitions/error"
        "400":
          description: Petición erronea
          schema:
            $ref: "#/definitions/error"
        "500":
          description: Error interno
definitions:
  Item:
    type: object
    properties:
      descripcion:
        type: string
        description: Descripción del item a facturar
      precioUnitario:
        type: number
        description: Precio unitario del item facturado
      cantidad:
        type: integer
        description: Cantidad de items a facturar
      total:
        type: number
        description: Monto total del item facturado
    required:
      - descripcion
      - precioUnitario
      - cantidad
      - total
  Invoice:
    type: object
    properties:
      UUID:
        type: string
        description: UUID del documento CFDI
      rfcEmisor:
        type: string
        description: Rfc del emisor de la factura
      receptor:
        $ref: "#/definitions/contribuyente"
      detail:
        type: array
        items:
          $ref: "#/definitions/Item"
    required:
      - rfcEmisor
      - receptor
      - detail
  contribuyente:
    type: object
    properties:
      rfc:
        type: string
        description: RFC del contribuyente
      nombre:
        type: string
        description: Nombre del contribuyente
    required:
      - rfc
      - nombre
  error:
    type: object
    properties:
      mensaje:
        type: string
        description: Descripción del mensaje de error
      code:
        type: integer
        description: Código de error
    required:
      - mensaje
      - code
